- extends 'Layouts/layout.haml'
- block title
Home
- endblock
- block body
/ %form{:action=>'/tester2',:method=>'post'}
/     %input{:type=>'text',:name=>'tester',:id=>'tester'}
/     %input{:type=>'submit'}
- endblock
- block jsFooter
- endblock
